nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

nav ul li {
    list-style: none;
}

nav ul li img {
    height: 30px;
}

nav ul li #sign {
    height: 50px;
}

#start {
    height: 55px;
    display: flex;
    align-items: center;
    padding-left: 0px;
}

#mid{
    display: flex;
    justify-content: center;
    padding: 0px;
}

#mid li a {
    color: white;
    text-decoration: none;
    font-family: cursive;
    padding: 0px 10px;
}

#mid li :hover {
    color: #e10404;
    border-top: 2px solid  #e10404;
    border-bottom: 2px solid  #e10404;
}
#end {
    display: flex;
    padding-left: 0px;
}

#end img {
    padding: 0px 20px;
}


main {
    padding-top: 9vh;
}

#aboutMe {
    background-image: url("bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 20px;
    height: 650px;
    display: flex;
    position: fixed;
    left: 0px;
    right: 0px;
}

#name {
    font-size: 50px;
    color: rgb(255, 66, 45);
}

#scrollPage {
    background: radial-gradient(circle, rgba(55,55,61,1) 0%, rgba(0,0,0,1) 100%);
    position: relative;
    margin: 650px -8px 0px -8px;
}

.treeRow{
    display: flex;
    height: 100px;
    width: 100vw;
}

.treeTopLeft{
    border-right: solid white 2px;
    width: 50%;
}

.treeTopRight{
    border-left: solid white 2px;
    width: 50vw;
}

.treeBottomSide{
    width: 10vw;
}

.treeNode{
    width: 80vw;
    display: flex;
}

.treeRoot{
    border-top: solid white 4px;
    border-left: solid white 2px;
    border-right: solid white 2px;
    width: 33%;
    height: 100px;
}

.skillInfo {
    display: flex;
    justify-content: space-evenly;
}

.skillInfo p {
    width: 200px;
}

.skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillItem img {
    margin: 30px 0px;
    height: 50px;
    width: 60px;
}

#cardContainer {
    font-family: cursive;
}

#cardSlider {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
    scrollbar-width: none;
}

.cardItem {
    background-color: white;
    height: 250px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 5px black;
    margin: 10px 10px 10px 10px;
    transition-property: all;
    transition-duration: .4s;
}

.cardItem img {
    height: 260px;
    width: 250px;
    border-radius: 20px;
    transition-property: all;
    transition-duration: .4s;
}

.cardItem:hover{
    height: 290px;
    width: 300px;
}

.cardItem img:hover{
    height: 300px;
    width: 310px;
}

#view {
    padding: 15px 40px 0px 0px;
    color: rgb(141, 141, 141);
    text-decoration: none;
    font-size: 20px;
    float: right;
}

.view:hover {
    color: #e10404;
}

#endCredits {
    display: flex;
    height: 230px;
    align-items: center;
}

#endNote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 55px;
    color: rgb(145, 145, 145);
}

footer{
    background-color: black;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: center;
    padding: 42px 0px;
    color: rgb(145, 145, 145);
    margin: 0px -8px;
}